LEDERG_SECRET_KEY=CHANGE_ME_TO_A_LONG_RANDOM_SECRET
LEDERG_HOST=0.0.0.0
LEDERG_PORT=8090
LEDERG_DATA_DIR=C:\LEDERG-MESSENGER-DATA
LEDERG_DB_PATH=C:\LEDERG-MESSENGER-DATA\lederg.db
LEDERG_TOKEN_MINUTES=10080
